.oblique {
  display: inline-block;
  position: relative;
  background-color: #2b9bed;
  box-sizing: border-box;
  clip-path: polygon(100% 0, 21% 100%, 0 100%, 0 0);
}
.oblique::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 60px;
  background-color: #000000;
  z-index: 1;
  clip-path: polygon(94% 0, 10% 100%, 0 100%, 0 0);
}

.oblique-end {
  display: inline-block;
  position: relative;
  background-color: #2b9bed;
  box-sizing: border-box;
  clip-path: polygon(100% 0, 100% 100%, 80% 100%, 0 0);
}
.oblique-end::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 110px;
  background-color: #000000;
  z-index: 1;
  clip-path: polygon(100% 0, 100% 100%, 75% 100%, 4% 0);
}
